HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/scripts/csv/GeoLite2-ASN-Blocks-IPv4.csv
/scripts/csv/GeoLite2-ASN-Blocks-IPv6.csv
/scripts/csv/GeoLite2-City-Blocks-IPv4.csv
/scripts/csv/GeoLite2-City-Blocks-IPv6.csv
/scripts/csv/GeoLite2-City-Locations-en.csv
